#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 > #backgroundBox {
  background-color: #EAEAEB;
  position: absolute;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 > #alignmentBox {
  position: relative;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Panel_1 {
  width: 1400.0px;
  height: 1000.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Panel_1 > .backgroundLayer > .colorLayer {
  background-color: #EAEAEB;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Rectangle_12 {
  position: absolute;
  width: 697.0px;
  min-height: 690.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Rectangle_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Rectangle_12 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 14.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 14.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_9 {
  position: absolute;
  width: 85.5999984741211px;
  min-height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_11 {
  position: absolute;
  width: 207.36000061035156px;
  min-height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 700;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_1 {
  position: absolute;
  width: 666.9071044921873px;
  min-height: 74.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 14.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 14.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_14 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_14 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_15 {
  position: absolute;
  width: 106.5px;
  min-height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_15 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_1 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_1 input::-moz-placeholder {
  color: #82888C;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_1 input:-moz-placeholder {
  color: #82888C;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_1 input:-ms-input-placeholder {
  color: #82888C;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_1 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_2 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_2 input::-moz-placeholder {
  color: #82888C;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_2 input:-moz-placeholder {
  color: #82888C;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_2 input:-ms-input-placeholder {
  color: #82888C;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_2 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_3 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_3 input::-moz-placeholder {
  color: #82888C;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_3 input:-moz-placeholder {
  color: #82888C;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_3 input:-ms-input-placeholder {
  color: #82888C;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_3 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_3 .valign {
  vertical-align: middle;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_4 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_4 input::-moz-placeholder {
  color: #82888C;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_4 input:-moz-placeholder {
  color: #82888C;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_4 input:-ms-input-placeholder {
  color: #82888C;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_4 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_4 .valign {
  vertical-align: middle;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_5 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_5 input::-moz-placeholder {
  color: #82888C;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_5 input:-moz-placeholder {
  color: #82888C;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_5 input:-ms-input-placeholder {
  color: #82888C;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_5 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_5 .valign {
  vertical-align: middle;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_5 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_6 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_6 input::-moz-placeholder {
  color: #82888C;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_6 input:-moz-placeholder {
  color: #82888C;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_6 input:-ms-input-placeholder {
  color: #82888C;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_6 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_6 .valign {
  vertical-align: middle;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_6 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Input_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Button_1 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #s-Master_item_1 {
  position: absolute;
  width: 1400.0000000000002px;
  height: 1000.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Rectangle_1 {
  position: absolute;
  width: 1400.0px;
  min-height: 84.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Rectangle_1 span#rtr-mi-608da4cc-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Rectangle_2 {
  position: absolute;
  width: 356.0px;
  min-height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Rectangle_2 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/b2dc4462-8e05-4eac-8fc3-3aa5a9cfb8ca@2x.png');
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Rectangle_2 span#rtr-mi-608da4cc-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Path_2 {
  position: absolute;
  width: 40.0px;
  height: 30.0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Image_1 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Image_2 {
  position: absolute;
  width: 40.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Dynamic_Panel_35 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Panel_35 {
  width: 369.0px;
  height: 1000.0000000000002px;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 12px rgba(64,64,64,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Panel_35 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Panel_35 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Panel_35 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Panel_35 .verticalalign {
  vertical-align: top;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Table {
  position: absolute;
  width: 368.9999999999999px;
  height: 365.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell td.layout {
  padding: 0px 20px 0px 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell .verticalalign {
  vertical-align: middle;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell {
  width: 100.0%;
  height: 23.28767123287672%;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Path_89 {
  width: 14.0px;
  height: 14.0px;
  cursor: pointer;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_7 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_7 td.layout {
  padding: 0px 0px 0px 30px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_7 .verticalalign {
  vertical-align: middle;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_7 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_7 {
  width: 100.0%;
  height: 15.342465753424655%;
  cursor: pointer;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_7 .Cell_7 > * {
  margin-right: 21px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_7 .Cell_7 > *:last-child {
  margin-right: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_7 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Path_90 {
  width: 11.0px;
  height: 18.0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Paragraph_276 {
  width: 58.518001556396484px;
  min-height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Paragraph_276 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Paragraph_276 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Paragraph_276 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Paragraph_276 span#rtr-mi-608da4cc-Paragraph_276_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_8 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_8 td.layout {
  padding: 0px 0px 0px 30px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_8 .verticalalign {
  vertical-align: middle;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_8 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_8 {
  width: 100.0%;
  height: 15.342465753424655%;
  cursor: pointer;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_8 .Cell_8 > * {
  margin-right: 21px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_8 .Cell_8 > *:last-child {
  margin-right: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_8 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Path_342 {
  width: 14.0px;
  height: 18.0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Paragraph_277 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Paragraph_277 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Paragraph_277 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Paragraph_277 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Paragraph_277 span#rtr-mi-608da4cc-Paragraph_277_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_9 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_9 td.layout {
  padding: 0px 0px 0px 30px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_9 .verticalalign {
  vertical-align: middle;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_9 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_9 {
  width: 100.0%;
  height: 15.34246575342465%;
  cursor: pointer;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_9 .Cell_9 > * {
  margin-right: 21px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_9 .Cell_9 > *:last-child {
  margin-right: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_9 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Path_343 {
  width: 18.450000762939453px;
  height: 18.96758270263672px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Paragraph_278 {
  width: 246.3740234375px;
  min-height: 42.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Paragraph_278 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Paragraph_278 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Paragraph_278 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Paragraph_278 span#rtr-mi-608da4cc-Paragraph_278_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_10 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_10 td.layout {
  padding: 0px 0px 0px 30px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_10 .verticalalign {
  vertical-align: middle;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_10 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_10 {
  width: 100.0%;
  height: 15.34246575342465%;
  cursor: pointer;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_10 .Cell_10 > * {
  margin-right: 21px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_10 .Cell_10 > *:last-child {
  margin-right: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_10 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Path_287 {
  width: 13.0px;
  height: 16.714284896850586px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Paragraph_279 {
  width: 267.3740234375px;
  min-height: 39.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Paragraph_279 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Paragraph_279 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Paragraph_279 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Paragraph_279 span#rtr-mi-608da4cc-Paragraph_279_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_11 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_11 td.layout {
  padding: 0px 0px 0px 30px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_11 .verticalalign {
  vertical-align: middle;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_11 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_11 {
  width: 100.0%;
  height: 15.342465753424655%;
  cursor: pointer;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_11 .Cell_11 > * {
  margin-right: 21px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_11 .Cell_11 > *:last-child {
  margin-right: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_11 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Rect_21 {
  position: absolute;
  width: 2.0px;
  height: 10.0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Rect_22 {
  position: absolute;
  width: 2.0px;
  height: 5.0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Rect_23 {
  position: absolute;
  width: 2.0px;
  height: 8.0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Path_121 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
}
 div.relativeLayoutWrapper.mi-608da4cc-Group_31 {
  transform: translate(-0.0px, -19.0px);
  width: 18.0px;
  height: 18.0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Paragraph_280 {
  width: 246.76197814941406px;
  min-height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Paragraph_280 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Paragraph_280 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Paragraph_280 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Paragraph_280 span#rtr-mi-608da4cc-Paragraph_280_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Panel_36 {
  width: 75.0px;
  height: 1000.0px;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 12px rgba(64,64,64,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Panel_36 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Panel_36 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Panel_36 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Panel_36 .verticalalign {
  vertical-align: top;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Table_1 {
  position: absolute;
  width: 75.0px;
  height: 336.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_19 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_19 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_19 .verticalalign {
  vertical-align: middle;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_19 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_19 {
  width: 100.0%;
  height: 16.666666666666675%;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Path_125 {
  width: 14.0px;
  height: 14.0px;
  cursor: pointer;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_20 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_20 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_20 .verticalalign {
  vertical-align: middle;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_20 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_20 {
  width: 100.0%;
  height: 16.666666666666664%;
  cursor: pointer;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Path_91 {
  width: 11.0px;
  height: 18.0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_21 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_21 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_21 .verticalalign {
  vertical-align: middle;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_21 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_21 {
  width: 100.0%;
  height: 16.666666666666664%;
  cursor: pointer;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Path_344 {
  width: 14.0px;
  height: 18.0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_22 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_22 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_22 .verticalalign {
  vertical-align: middle;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_22 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_22 {
  width: 100.0%;
  height: 16.666666666666654%;
  cursor: pointer;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Path_345 {
  width: 18.450000762939453px;
  height: 18.96758270263672px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_23 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_23 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_23 .verticalalign {
  vertical-align: middle;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_23 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_23 {
  width: 100.0%;
  height: 16.666666666666654%;
  cursor: pointer;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Path_4 {
  width: 13.0px;
  height: 16.714284896850586px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_24 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_24 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_24 .verticalalign {
  vertical-align: middle;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_24 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Cell_24 {
  width: 100.0%;
  height: 16.666666666666664%;
  cursor: pointer;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Rect_24 {
  position: absolute;
  width: 2.0px;
  height: 10.0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Rect_25 {
  position: absolute;
  width: 2.0px;
  height: 5.0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Rect_26 {
  position: absolute;
  width: 2.0px;
  height: 8.0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 #mi-608da4cc-Path_123 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
}
 div.relativeLayoutWrapper.mi-608da4cc-Group_32 {
  transform: translate(-363.0px, -283.0px);
  width: 18.0px;
  height: 18.0px;
}
#s-81f5589d-6d1f-4d14-81aa-10bb0d218557 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}