#s-f5e37af5-ed13-41e6-843d-d58beb079667 > #backgroundBox {
  background-color: #EAEAEB;
  position: absolute;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 > #alignmentBox {
  position: relative;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Panel_1 {
  width: 1400.0px;
  height: 1000.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Dynamic_Panel_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Panel_4 {
  width: 383.0px;
  height: 215.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Panel_4 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_9 {
  position: absolute;
  width: 385.0px;
  min-height: 217.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_9 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_9 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Path_1 {
  position: absolute;
  width: 164.95375061035156px;
  height: 23.777633666992188px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Mask_1 {
  position: absolute;
  width: 169.96121215820312px;
  height: 28.776613235473633px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Path_4 {
  position: absolute;
  width: 29.94146728515625px;
  height: 24.929304122924805px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Mask_2 {
  position: absolute;
  width: 34.888214111328125px;
  height: 29.86577796936035px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Path_7 {
  position: absolute;
  width: 199.4196319580078px;
  height: 20.121885299682617px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Path_8 {
  position: absolute;
  width: 200.41818237304688px;
  height: 21.078248977661133px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_10 {
  position: absolute;
  width: 95.0px;
  min-height: 41.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #767492;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_10 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Path_9 {
  position: absolute;
  width: 80.60042572021484px;
  height: 14.137601852416992px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Mask_3 {
  position: absolute;
  width: 85.28009796142578px;
  height: 18.92000389099121px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Dynamic_Panel_5 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Panel_5 {
  width: 383.0px;
  height: 215.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Panel_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Panel_5 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_11 {
  position: absolute;
  width: 385.0px;
  min-height: 217.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_11 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_11 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 15.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Path_12 {
  position: absolute;
  width: 280.87335205078125px;
  height: 15.942425727844238px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Path_13 {
  position: absolute;
  width: 282.1152648925781px;
  height: 16.883535385131836px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Path_14 {
  position: absolute;
  width: 164.95362854003906px;
  height: 23.777633666992188px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Mask_4 {
  position: absolute;
  width: 169.96109008789062px;
  height: 28.776613235473633px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Dynamic_Panel_6 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Panel_6 {
  width: 806.0000000000001px;
  height: 332.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Panel_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Panel_6 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_12 {
  position: absolute;
  width: 806.0000000000001px;
  min-height: 332.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_12 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 34.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Input_15 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Input_15 input::-moz-placeholder {
  color: #82888C;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Input_15 input:-moz-placeholder {
  color: #82888C;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Input_15 input:-ms-input-placeholder {
  color: #82888C;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Input_15 {
  position: absolute;
  width: 723.9999999999997px;
  height: 44.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Input_15 .valign {
  vertical-align: middle;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Input_15 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Input_15 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Input_15 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Input_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 32px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Path_17 {
  position: absolute;
  width: 22.06143569946289px;
  height: 17.0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 {
  position: absolute;
  width: 724.0px;
  height: 253.99999999999983px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 tr.odd {
  background-color: #FFFFFF;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 tr.even {
  background-color: #FFFFFF;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Header_1 {
  background-color: #FFFFFF;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Row_cell_1 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Row_cell_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Row_cell_1 .verticalalign {
  vertical-align: top;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Row_cell_1 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 0.0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Row_cell_1 {
  width: 180.5px;
  height: 62.99999999999996px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Row_cell_1 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Row_cell_2 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Row_cell_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Row_cell_2 .verticalalign {
  vertical-align: top;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Row_cell_2 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 0.0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Row_cell_2 {
  width: 180.5px;
  height: 62.99999999999996px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Row_cell_2 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Row_cell_3 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Row_cell_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Row_cell_3 .verticalalign {
  vertical-align: top;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Row_cell_3 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 0.0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Row_cell_3 {
  width: 180.5px;
  height: 62.99999999999996px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Row_cell_3 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Row_cell_4 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Row_cell_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Row_cell_4 .verticalalign {
  vertical-align: top;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Row_cell_4 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 1.0px;
  border-right-width: 0.0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Row_cell_4 {
  width: 182.0px;
  height: 62.99999999999996px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Row_cell_4 > .cellContainerChild > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Current_row_1 {
  background-color: #FFFFFF;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Row_cell_5 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Row_cell_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Row_cell_5 .verticalalign {
  vertical-align: top;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Row_cell_5 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Row_cell_5 {
  width: 180.5px;
  height: 62.99999999999996px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Row_cell_5 > .cellContainerChild > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Paragraph_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Row_cell_6 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Row_cell_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Row_cell_6 .verticalalign {
  vertical-align: top;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Row_cell_6 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Row_cell_6 {
  width: 180.5px;
  height: 62.99999999999996px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Row_cell_6 > .cellContainerChild > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Paragraph_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Paragraph_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Row_cell_7 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Row_cell_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Row_cell_7 .verticalalign {
  vertical-align: top;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Row_cell_7 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Row_cell_7 {
  width: 180.5px;
  height: 62.99999999999996px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Row_cell_7 > .cellContainerChild > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Paragraph_13 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Paragraph_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Row_cell_8 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Row_cell_8 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Row_cell_8 .verticalalign {
  vertical-align: top;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Row_cell_8 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Row_cell_8 {
  width: 182.0px;
  height: 62.99999999999996px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Row_cell_8 > .cellContainerChild > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Paragraph_14 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Paragraph_14 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Paragraph_14 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Data_grid_1 .s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #s-Master_item_1 {
  position: absolute;
  width: 1400.0px;
  height: 1000.4999999999995px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Rectangle_1 {
  position: absolute;
  width: 1400.0px;
  min-height: 84.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Rectangle_1 span#rtr-mi-b09449a5-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Rectangle_7 {
  position: absolute;
  width: 356.0px;
  min-height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Rectangle_7 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/b2dc4462-8e05-4eac-8fc3-3aa5a9cfb8ca@2x.png');
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Rectangle_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Rectangle_7 span#rtr-mi-b09449a5-Rectangle_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Path_34 {
  position: absolute;
  width: 40.0px;
  height: 30.0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Image {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Image_1 {
  position: absolute;
  width: 40.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Dynamic_Panel_7 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Panel_7 {
  width: 377.0000000000002px;
  height: 1000.0000000000002px;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 12px rgba(64,64,64,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Panel_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Panel_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Panel_7 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Panel_7 .verticalalign {
  vertical-align: top;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Table {
  position: absolute;
  width: 377.00000000000057px;
  height: 196.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell td.layout {
  padding: 0px 20px 0px 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell .verticalalign {
  vertical-align: middle;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell {
  width: 100.0%;
  height: 42.85714285714285%;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Path_89 {
  width: 14.0px;
  height: 14.0px;
  cursor: pointer;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_4 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_4 td.layout {
  padding: 0px 0px 0px 30px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_4 .verticalalign {
  vertical-align: middle;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_4 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_4 {
  width: 100.0%;
  height: 28.57142857142855%;
  cursor: pointer;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_4 .Cell_4 > * {
  margin-right: 21px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_4 .Cell_4 > *:last-child {
  margin-right: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_4 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Path_90 {
  width: 11.0px;
  height: 18.0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Paragraph_276 {
  width: 309.0170898437498px;
  min-height: 77.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Paragraph_276 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Paragraph_276 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Paragraph_276 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Paragraph_276 span#rtr-mi-b09449a5-Paragraph_276_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_5 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_5 td.layout {
  padding: 0px 0px 0px 30px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_5 .verticalalign {
  vertical-align: middle;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_5 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_5 {
  width: 100.0%;
  height: 28.57142857142855%;
  cursor: pointer;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_5 .Cell_5 > * {
  margin-right: 21px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_5 .Cell_5 > *:last-child {
  margin-right: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_5 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Path_342 {
  width: 14.0px;
  height: 18.0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Paragraph_277 {
  width: 312.3740234374998px;
  min-height: 78.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Paragraph_277 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Paragraph_277 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Paragraph_277 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Paragraph_277 span#rtr-mi-b09449a5-Paragraph_277_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Panel_8 {
  width: 75.0px;
  height: 1000.0px;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 12px rgba(64,64,64,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Panel_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Panel_8 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Panel_8 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Panel_8 .verticalalign {
  vertical-align: top;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Table_1 {
  position: absolute;
  width: 75.0px;
  height: 197.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_10 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_10 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_10 .verticalalign {
  vertical-align: middle;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_10 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_10 {
  width: 100.0%;
  height: 43.147208121827404%;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Path_125 {
  width: 14.0px;
  height: 14.0px;
  cursor: pointer;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_11 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_11 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_11 .verticalalign {
  vertical-align: middle;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_11 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_11 {
  width: 100.0%;
  height: 28.426395939086284%;
  cursor: pointer;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Path_91 {
  width: 11.0px;
  height: 18.0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_12 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_12 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_12 .verticalalign {
  vertical-align: middle;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_12 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Cell_12 {
  width: 100.0%;
  height: 28.426395939086284%;
  cursor: pointer;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 #mi-b09449a5-Path_344 {
  width: 14.0px;
  height: 18.0px;
}
#s-f5e37af5-ed13-41e6-843d-d58beb079667 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}