#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3.master {
  transform: translate(0px,0px);
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Rectangle_1 {
  position: absolute;
  width: 1400.0px;
  min-height: 84.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Rectangle_1 span#rtr-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Rectangle_7 {
  position: absolute;
  width: 356.0px;
  min-height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Rectangle_7 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/b2dc4462-8e05-4eac-8fc3-3aa5a9cfb8ca@2x.png');
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Rectangle_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Rectangle_7 span#rtr-Rectangle_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Path_34 {
  position: absolute;
  width: 40.0px;
  height: 30.0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Image {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Image_1 {
  position: absolute;
  width: 40.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Dynamic_Panel_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Panel_4 {
  width: 377.0000000000002px;
  height: 1000.0000000000002px;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 12px rgba(64,64,64,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Panel_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Panel_4 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Panel_4 .verticalalign {
  vertical-align: top;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Table {
  position: absolute;
  width: 377.00000000000057px;
  height: 196.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell td.layout {
  padding: 0px 20px 0px 0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell .verticalalign {
  vertical-align: middle;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell {
  width: 100.0%;
  height: 42.85714285714285%;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Path_89 {
  width: 14.0px;
  height: 14.0px;
  cursor: pointer;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_4 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_4 td.layout {
  padding: 0px 0px 0px 30px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_4 .verticalalign {
  vertical-align: middle;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_4 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_4 {
  width: 100.0%;
  height: 28.57142857142855%;
  cursor: pointer;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_4 .Cell_4 > * {
  margin-right: 21px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_4 .Cell_4 > *:last-child {
  margin-right: 0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_4 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Path_90 {
  width: 11.0px;
  height: 18.0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Paragraph_276 {
  width: 309.0170898437498px;
  min-height: 77.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Paragraph_276 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Paragraph_276 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Paragraph_276 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Paragraph_276 span#rtr-Paragraph_276_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_5 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_5 td.layout {
  padding: 0px 0px 0px 30px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_5 .verticalalign {
  vertical-align: middle;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_5 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_5 {
  width: 100.0%;
  height: 28.57142857142855%;
  cursor: pointer;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_5 .Cell_5 > * {
  margin-right: 21px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_5 .Cell_5 > *:last-child {
  margin-right: 0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_5 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Path_342 {
  width: 14.0px;
  height: 18.0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Paragraph_277 {
  width: 312.3740234374998px;
  min-height: 78.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Paragraph_277 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Paragraph_277 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Paragraph_277 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Paragraph_277 span#rtr-Paragraph_277_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Panel_5 {
  width: 75.0px;
  height: 1000.0px;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 12px rgba(64,64,64,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Panel_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Panel_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Panel_5 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Panel_5 .verticalalign {
  vertical-align: top;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Table_1 {
  position: absolute;
  width: 75.0px;
  height: 197.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_9 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_9 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_9 .verticalalign {
  vertical-align: middle;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_9 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_9 {
  width: 100.0%;
  height: 43.147208121827404%;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Path_125 {
  width: 14.0px;
  height: 14.0px;
  cursor: pointer;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_10 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_10 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_10 .verticalalign {
  vertical-align: middle;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_10 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_10 {
  width: 100.0%;
  height: 28.426395939086284%;
  cursor: pointer;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Path_91 {
  width: 11.0px;
  height: 18.0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_11 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_11 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_11 .verticalalign {
  vertical-align: middle;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_11 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_11 {
  width: 100.0%;
  height: 28.426395939086284%;
  cursor: pointer;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Path_344 {
  width: 14.0px;
  height: 18.0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Paragraph_276 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Table_1 {
  position: absolute;
  width: 75.0px;
  height: 197.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Path_90 {
  width: 11.0px;
  height: 18.0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Rectangle_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_5 {
  width: 100.0%;
  height: 28.57142857142855%;
  cursor: pointer;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_4 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_5 td.layout {
  padding: 0px 0px 0px 30px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_11 .verticalalign {
  vertical-align: middle;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell {
  width: 100.0%;
  height: 42.85714285714285%;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Panel_4 {
  width: 377.0000000000002px;
  height: 1000.0000000000002px;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 12px rgba(64,64,64,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Panel_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Path_342 {
  width: 14.0px;
  height: 18.0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Paragraph_277 span#rtr-Paragraph_277_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Rectangle_7 span#rtr-Rectangle_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Panel_5 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_5 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_4 td.layout {
  padding: 0px 0px 0px 30px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Paragraph_277 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Path_344 {
  width: 14.0px;
  height: 18.0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell .verticalalign {
  vertical-align: middle;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Paragraph_277 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Panel_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_4 .verticalalign {
  vertical-align: middle;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_10 .verticalalign {
  vertical-align: middle;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_9 {
  width: 100.0%;
  height: 43.147208121827404%;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_9 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_10 {
  width: 100.0%;
  height: 28.426395939086284%;
  cursor: pointer;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Paragraph_277 {
  width: 312.3740234374998px;
  min-height: 78.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Paragraph_276 span#rtr-Paragraph_276_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Lemonada_28.0.0_google',Arial;
  font-size: 13.5pt;
  font-weight: 400;
  text-transform: none;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_11 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_5 .verticalalign {
  vertical-align: middle;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell td.layout {
  padding: 0px 20px 0px 0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_4 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_11 {
  width: 100.0%;
  height: 28.426395939086284%;
  cursor: pointer;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Paragraph_276 .valign {
  vertical-align: middle;
  text-align: left;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_10 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Table {
  position: absolute;
  width: 377.00000000000057px;
  height: 196.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_4 .Cell_4 > *:last-child {
  margin-right: 0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Paragraph_277 .valign {
  vertical-align: middle;
  text-align: left;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_11 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Path_34 {
  position: absolute;
  width: 40.0px;
  height: 30.0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_5 .Cell_5 > * {
  margin-right: 21px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Rectangle_7 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/b2dc4462-8e05-4eac-8fc3-3aa5a9cfb8ca@2x.png');
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Path_125 {
  width: 14.0px;
  height: 14.0px;
  cursor: pointer;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Rectangle_1 {
  position: absolute;
  width: 1400.0px;
  min-height: 84.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_11 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_9 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Panel_5 {
  width: 75.0px;
  height: 1000.0px;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 12px rgba(64,64,64,0.1));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_4 .Cell_4 > * {
  margin-right: 21px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Panel_4 .verticalalign {
  vertical-align: top;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_4 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Rectangle_1 span#rtr-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Image_1 {
  position: absolute;
  width: 40.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_9 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Panel_4 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Rectangle_7 {
  position: absolute;
  width: 356.0px;
  min-height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Paragraph_276 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3.master {
  transform: translate(0px,0px);
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Image {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_10 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_4 {
  width: 100.0%;
  height: 28.57142857142855%;
  cursor: pointer;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Path_89 {
  width: 14.0px;
  height: 14.0px;
  cursor: pointer;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_5 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Panel_5 .verticalalign {
  vertical-align: top;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Path_91 {
  width: 11.0px;
  height: 18.0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Paragraph_276 {
  width: 309.0170898437498px;
  min-height: 77.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lemonada_28.0.0_google',Arial;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Panel_5 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_9 .verticalalign {
  vertical-align: middle;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_5 .Cell_5 > *:last-child {
  margin-right: 0px;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Dynamic_Panel_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_10 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 #Cell_5 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#loadMark-m-3aa111f9-a661-46ba-9c42-d4b697b72ec3 {
  width: 1px;
  visibility: hidden;
  display: none;
}
#m-3aa111f9-a661-46ba-9c42-d4b697b72ec3.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}